.input-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.font-size--18 {
  font-size: 18px;
}

.font-size--35 {
  font-size: 35px;
}

.video-child {
  height: 332px;
  width: 590px;
  margin: 0 auto;
}
